

#aziz{
    background-color: coral;


width: 800px;
margin: 40px
;




    


}

        th , td  {
            padding: 10px;
        }
        #pc { text-align: center;
        }

    .class { text-align: center;
    }
 

